@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

.headercategories {
  display: flex;
  flex-direction: row;
}

.headernewin,
.headershop,
.headerabout,
.headersilfenplay,
.headerss22 {
  padding: 20px;
}

.headerlogo {
  padding-top: 30px;
  padding-left: 350px;
}

.headericons {
  padding-left: 480px;
  padding-top: 20px;
}

.navbar {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
}

main.Spage {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 10% auto 10% auto 10% auto 10% auto;
}

main.PLpage {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

main.Ppage {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 5rem;
  grid-gap: 3rem;
}

h1 {
  grid-row: 1 / 2;
  font-family: "Manrope", sans-serif;
  font-size: 4rem;
  padding-left: 1rem;
  padding-top: 4rem;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

a,
p {
  font-family: "Manrope", sans-serif;
}

img {
  width: 100%;
}

.wtext {
  grid-row: 2/3;
  grid-column: 1/2;
  padding-left: 8rem;
  padding-top: 4rem;
}

.wimg {
  grid-row: 2/3;
  grid-column: 2/3;
}

article.wdescr {
  background-color: #7bafd4;
  grid-row: 3/4;
  grid-column: 1/3;
  padding: 2rem;
}

.simg {
  grid-row: 4/5;
  grid-template: 1/2;
}

.stext {
  grid-row: 4/5;
  grid-column: 2/3;
  padding-left: 8rem;
  padding-top: 4rem;
}

article.sdescr {
  background-color: #7bafd4;
  grid-row: 5/6;
  grid-column: 1/3;
  padding: 2rem;
}

.ptext {
  grid-row: 6/7;
  grid-column: 1/2;
  padding-left: 8rem;
  padding-top: 4rem;
}

.pimg {
  max-width: 100%;
  grid-column: 2/3;
  grid-row: 6/7;
}

article.pdescr {
  background-color: #7bafd4;
  grid-row: 7/8;
  grid-column: 1/3;
  padding: 2rem;
}

.mimg {
  grid-row: 8/9;
  grid-column: 1/2;
}

.mtext {
  grid-row: 8/9;
  grid-column: 2/3;
  padding-left: 8rem;
  padding-top: 4rem;
}

article.mdescr {
  background-color: #7bafd4;
  grid-row: 9/10;
  grid-column: 1/3;
  padding: 2rem;
}
.PL {
  grid-column: 1/2;
  grid-row: 2/3;
}

.shopAll {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.Pimg {
  grid-column: 1/2;
}

article.Pdescr {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

.bagName,
.bagPrice,
.bagInfo,
.bagColor,
button {
  padding: 1rem;
}

.footerh2 {
  font-size: medium;
}

footer {
  background-color: #85b4d7;
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  grid-template-rows: 90% 10%;
  grid-gap: 10px;
  padding-bottom: 80px;
}

.footersuscribe {
  grid-column: 1/2;
  grid-row: 1/2;
}

.footerallrights {
  grid-column: 1/3;
  grid-row: 2/3;
}

.footercontacts {
  grid-column: 2/3;
  grid-row: 1/2;
}

.footersilfenwarehouse {
  grid-column: 3/4;
  grid-row: 1/2;
}

.footerhelp {
  grid-column: 4/5;
  grid-row: 1/2;
}

li {
  list-style-type: none;
}

.footerconnect {
  grid-column: 4/5;
  grid-row: 2/3;
}

@media only screen and (max-width: 958px) {
  main.Spage,
  main.PLpage,
  main.Ppage {
    display: flex;
    flex-flow: column;
  }
}
